/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Jul-2019, 13:39:33
    Author     : philip
*/

            .menu {
                /* border: 1px solid black; */
                background-color: whitesmoke;
                /* padding: 5px 5px 5px 5px; */
                color: steelblue;
                font-size: 20px;
                width: 100%;
                table-layout: fixed;
            }
           
            .menu td {
                background-color: whitesmoke;
                color: steelblue;
                text-align: center;
                width: 17%;
            }
            .menu td:hover {
                background-color: steelblue;
                color: whitesmoke;
                text-align: center;
            }
            h1 {
                font-size: 30px;
                color: darkslateblue;
            }
            h2 {
                font-size: 25px;
                color: darkslateblue;
            }
            h3 {
                font-size: 20px;
                color: darkslateblue;
            }
            h4 {
                font-size: 15px;
                color: darkslateblue;
            }
            li {
                color: darkgreen;
            }
            body {
                font-size: 20px;
                color: darkslateblue;
                background-color: whitesmoke;
            }
            
            br {
                background-color: whitesmoke;
            }
            .t01 {
                border: 1px solid black;
                background-color: steelblue;
                padding: 1px 1px 1px 1px;
                color: whitesmoke;
                font-size: 15px;
                width: auto;
                table-layout: fixed;
            }
            
            .t01 tr:nth-child(even) {
                background-color: #abc;
                padding-left: 15px;
            }
            .t01 tr:nth-child(odd) {
                background-color: #caa;
                padding-left: 15px;
            }
            .t01 th {
                background-color: steelblue;
                color: whitesmoke;
                
            }
            .t01 td {
                padding-left: 15px;
            }
            .t02 {
                border: 1px solid black;
                background-color: steelblue;
                padding: 1px 1px 1px 1px;
                color: whitesmoke;
                font-size: 15px;
                width: 20%;
                table-layout: fixed;
            }
            
            .t02 tr:nth-child(even) {
                background-color: #abc;
                padding-left: 15px;
            }
            .t02 tr:nth-child(odd) {
                background-color: #caa;

            }
            .t02 th {
                background-color: steelblue;
                color: whitesmoke;
            }
            .t02 td {
                padding-left: 15px;
            }
            .entry {
                outline: 1px solid black;
                background-color: steelblue;
                color: whitesmoke;
            }
            .entry td{
                padding: 5px 5px 5px 5px;
                width: 175px;
                align-content: right;
            }
            hr {
            color: darkslateblue;
            background-color: darkslateblue;
            height: 3px;
            border: none;
            }
            .footer  {
                position: fixed;
                bottom: 0;
                width: 100%;
                text-align: center;
            }
            .sel {
                outline: 1px solid black;
                font-family: Arial, sans-serif;
                font-size: 15px;
            }
            .sel td {
                border: 1px solid black;
                padding: 5px;
            }
            .sel tr{ 
                width: 140px;
                border: 1px solid black;
                font-family: inherit;
                font-size: inherit;
            }

/* .btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
} */

/* Green */
.success {
  color: steelblue;
}
.success:hover {
  background-color: steelblue;
  color: white;
}
